<div class="edit-text-container" ng-switch="$ctrl.mode">
  <loading loading="$ctrl.loading"></loading>
  <div class="animate-switch" ng-switch-when="viewText">
    <div class="view-text" ng-if="$ctrl.text">
      {{$ctrl.text}}
    </div>
    <div class="btn-edit">
      <i class="fas fa-edit" title="Edit" ng-click="$ctrl.edit($ctrl.text)"></i>
    </div>
  </div>
  <div class="animate-switch" ng-switch-when="editText">
    <div class="edit-text">
      <label>
        <textarea auto-resize ng-model="$ctrl.text"></textarea>
      </label>
    </div>
    <div class="edit-buttons-group">
      <div class="btn-save">
        <i class="fas fa-save" title="Save" ng-click="$ctrl.save()"></i>
      </div>
      <div class="btn-cancel">
        <i class="fas fa-undo" title="Cancel" ng-click="$ctrl.cancel()"></i>
      </div>
    </div>
  </div>
</div>
