<!DOCTYPE html>
<!-- в ng-app атрибут указывает с каким модулем работает -->
<html lang="en" ng-app="todoListApp">
<head>
  <meta charset="UTF-8">
  <!-- для мобильной адаптивности (ширина просмотра = ширине девайса, при первой загрузке масштаб = 1,
   последнее - для масштаба на iOS_9.1) -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="js/angular.js"></script>
  <!-- подключать перед основными стилями, чтобы они перезаписывали стили bootstrap -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="css/main.css">
  <title>AngularJS ToDo</title>
</head>
<body>
<!-- указывает, с каким контроллером работает блок -->
<div ng-controller="todoListCtrl">
  <div class="container">
    <div class="head_container">
      <h1>Todo List</h1>
      <div class="info_panel">
        <h3>{{remainingTasks()}} of {{data.taskList.length}} remaining, {{data.taskList.length - remainingTasks()}}
          done</h3>
        <a href="#" ng-click="archiveCompletedTasks()">[ archive ]</a>
      </div>
    </div>
    <!-- директива ng-change вызывает функцию, если изменилось значение поля ввода, требует наличия ng-model -->
    <input type="search" ng-model="data.searchTaskInputText" placeholder="type to search">
    <div class="buttons_group">
      <button type="button"
              ng-repeat="filterButton in data.filterButtonsList track by $index"
              name="{{filterButton.name}}"
              class="btn {{(filterButton.name === data.filterTasks) ? 'btn-filter-active' : 'btn-filter'}}"
              ng-click="onFilterChange(filterButton.name)">
        {{filterButton.label}}
      </button>
    </div>
    <ul class="task_item_list">
      <!-- директива ng-repeat - (повтор элементов коллекции) расчитана на уникальные значения в массиве.
      Автоматически добавляет новые элементы <li> в DOM и также удаляет, когда объект удаляется в контроллере.
      $index - смещение итератора повторяющегося элемента (0..length-1)
      track by $index - использовать $index массива для перебора значений -->
      <li class="task_item" ng-repeat="task in visibleTasks() track by $index">
        <label>
          <!-- ng-model двунаправленно связывает checkbox в форме со свойством done в объекте задания массива taskList
           в контроллере (связывает форму и модель)-->
          <input type="checkbox" ng-model="task.done">
          <!-- CSS-класс done-true показывает зачеркивание для выполненных задач.
           Когда task.done имеет значение true, результирующий селектор CSS становится done-true, который затем
           применяет зачеркивание-->
          <span class="done-{{task.done}} important-{{task.important}}">{{task.text}}</span>
        </label>
        <div class="buttons_group task_item_buttons_group">
          <button type="button" class="btn btn-important" ng-click="importantTask(task)">
            <i class="fas fa-exclamation"></i>
          </button>
          <!-- ng-click - вызов метода контроллера по клику -->
          <button type="button" class="btn btn-delete" ng-click="deleteTask(task)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </li>
    </ul>
    <!-- директива ng-submit вызывает метод addTask() по нажатию Enter или по клику на кнопку (перехватывает отправку формы).
     Внутри этого метода мы читаем свойство taskText и вставляем его в коллекцию taskArray-->
    <form ng-submit="addTask()">
      <!-- ng-model двунаправленно связывает значение input в форме со свойством text в объекте задания массива taskList
           в контроллере (связывает форму и модель)-->
      <input type="text" ng-model="addTaskInputText" placeholder="add new todo">
      <button class="btn btn-add">Add</button>
    </form>
  </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
