<!DOCTYPE html>
<!-- в ng-app атрибут указывает с каким модулем работает -->
<html lang="en" ng-app="todoListApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS ToDo</title>
  <script src="https://code.angularjs.org/1.6.0/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="app.js"></script>
</head>
<!-- указывает, с каким контроллером работает блок -->
<body ng-controller="todoListCtrl">
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">AngularJS ToDo</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- директива ng-submit вызывает функцию addTask() по нажатию Enter или по клику на кнопку -->
        <form ng-submit="addTask()">
          <!-- ng-model связывает input с переменной tempInput в контроллере -->
          <label>
            <input type="text" ng-model="tempInput">
          </label>
          <!-- ng-click - вызов функции по нажатию -->
          <button class="btn btn-primary add_btn">Add</button>
        </form>
        <!-- директива ng-repeat - (повтор элементов массива) расчитана на уникальные значения в массиве -->
        <!-- $index - смещение итератора повторяющегося элемента (0..length-1) -->
        <!-- track by $index - использовать $index массива для перебора значений -->
        <ul class="list-unstyled">
          <li class="task_item" ng-repeat="task in taskArray track by $index">
            {{task}}
            <button class="btn btn-danger del_btn" ng-click="deleteItem(task)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
