<div class="task-list-item-container">
  <li class="task-list-item"
      ng-repeat="task in $ctrl.tasks | orderBy: 'date' | filter: $ctrl.searchTask | taskList: $ctrl.filterName">
    <div class="task-list-item-label">
      <loading loading="$ctrl.loading === task._id"></loading>
      <label>
        <input type="checkbox" title="Complete task" ng-model="task.done" ng-change="$ctrl.taskDoneChange(task)">
      </label>
      <span ng-class="{done: task.done, important: task.important}">{{task
      .text}}</span>
    </div>
    <div class="task-list-item-buttons-group">
      <button class="btn btn-info" type="button" title="Task details"
              ng-click="$ctrl.navigate('taskDetail', {taskId: task._id})">
        <i class="fas fa-info"></i>
      </button>
      <button class="btn btn-important" type="button" title="Important task" ng-click="$ctrl.taskImportantChange(task)">
        <i class="fas fa-exclamation"></i>
      </button>
      <button class="btn btn-delete" type="button" title="Delete task" ng-click="$ctrl.deleteTask(task)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </li>
</div>
