<div class="task-list-item-container">
  <!-- директива ng-repeat - (повтор элементов коллекции) расчитана на уникальные значения в массиве.
    Автоматически добавляет новые элементы <li> в DOM и также удаляет, когда объект удаляется в контроллере.
    $index - (встроенноая переменная - номер итерации)смещение итератора повторяющегося элемента (0..length-1)
  track by $index - использовать $index массива для перебора значений -->
  <!-- директива ngRepeat автоматически обновляет представление (view) в ответ на изменение количества заданий в
  списке, возвращаемых фильтром-->
  <li class="task-list-item"
      ng-repeat="task in $ctrl.tasks | orderBy: 'date' | filter: $ctrl.searchTask | taskList: $ctrl.filterName">
    <div class="task-list-item-label">
      <loading loading="$ctrl.loading === task._id"></loading>
      <!-- ng-model двунаправленно связывает checkbox в форме со свойством done в объекте задания массива taskList
  в контроллере (связывает форму и модель)-->
      <label>
        <input type="checkbox" ng-model="task.done" ng-change="$ctrl.taskDoneChange(task)">
      </label>
      <!-- CSS-класс done-true показывает зачеркивание для выполненных задач.
      Когда task.done имеет значение true, результирующий селектор CSS становится done-true, который затем
  применяет зачеркивание-->
      <!--    <span class="done-{{task.done}} important-{{task.important}}">{{task.text}}</span>-->
      <span ng-class="{done: task.done, important: task.important}">{{task
      .text}}</span>
    </div>
    <div class="task-list-item-buttons-group">
      <!--<a href="#!/tasks/{{task.id}}">-->
      <!--    <button class="btn btn-info" type="button" ng-click="$ctrl.goToTaskDetailView(task)">-->
      <button class="btn btn-info" type="button" ng-click="$ctrl.navigate('taskDetail', {taskId: task._id})">
        <i class="fas fa-info"></i>
      </button>
      <!--</a>-->
      <button class="btn btn-important" type="button" ng-click="$ctrl.taskImportantChange(task)">
        <i class="fas fa-exclamation"></i>
      </button>
      <!-- ng-click - вызов метода контроллера по клику -->
      <button class="btn btn-delete" type="button" ng-click="$ctrl.deleteTask(task)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </li>
</div>
