<!-- директива ng-submit вызывает метод addTask() по нажатию Enter или по клику на кнопку (перехватывает отправку формы).
 Внутри этого метода мы читаем свойство taskText и вставляем его в коллекцию taskArray-->
<form ng-submit="$ctrl.addTask($ctrl.addTaskInputText)">
    <img class="loading" src="img/Spin-1s-73px.gif" alt="loading..." ng-if="$ctrl.loading"/>
  <!-- ng-model двунаправленно связывает значение input в форме со свойством text в объекте задания массива taskList
в контроллере (связывает форму и модель)-->
  <label>
    <input type="text" placeholder="add new task" ng-model="$ctrl.addTaskInputText">
  </label>
  <button class="btn btn-add">Add</button>
</form>
