<div class="container">
  <div class="head-container">
    <h1>Todo List</h1>
    <div ng-if="$ctrl.tasks.length" class="info-panel">
      <h3>
        {{$ctrl.remainingTasks()}} of {{$ctrl.tasks.length}} remaining,
        {{$ctrl.tasks.length - $ctrl.remainingTasks()}} done
      </h3>
      <a href="" ng-click="$ctrl.archiveCompletedTasks()">[ archive ]</a>
    </div>
  </div>
  <!--Когда страница загружается, Angular связывает значение поля ввода с переменной модели данных (`$ctrl.searchTask`), указанной в
  ngModel, и синхронизирует их.-->
  <label>
    <!-- $ctrl.searchTask.text - `text` означает по какому свойству объекта производить поиск (без него поиск идет по всем свойствам объекта)-->
    <input type="search" ng-if="$ctrl.tasks.length" ng-model="$ctrl.searchTask.text" placeholder="type to search">
  </label>
  <div class="filter-buttons-group" ng-if="$ctrl.tasks.length">
    <input type="radio"
           ng-repeat-start="filterButton in $ctrl.filterButtons"
           id="radio{{filterButton.label}}"
           ng-model="$ctrl.filterName"
           value="{{filterButton.name}}">
    <label for="radio{{filterButton.label}}"
           class="btn btn-filter"
           ng-repeat-end>
      {{filterButton.label}}
    </label>
  </div>
  <ul class="task-list">
    <!-- директива ng-repeat - (повтор элементов коллекции) расчитана на уникальные значения в массиве.
    Автоматически добавляет новые элементы <li> в DOM и также удаляет, когда объект удаляется в контроллере.
    $index - (встроенноая переменная - номер итерации)смещение итератора повторяющегося элемента (0..length-1)
track by $index - использовать $index массива для перебора значений -->
    <!-- директива ngRepeat автоматически обновляет представление (view) в ответ на изменение количества заданий в
    списке, возвращаемых фильтром-->
    <li class="task-list-item"
        ng-repeat="task in $ctrl.tasks | filter:$ctrl.searchTask | taskList:$ctrl.filterName">
      <label>
        <!-- ng-model двунаправленно связывает checkbox в форме со свойством done в объекте задания массива taskList
    в контроллере (связывает форму и модель)-->
        <input type="checkbox" ng-model="task.done">
        <!-- CSS-класс done-true показывает зачеркивание для выполненных задач.
        Когда task.done имеет значение true, результирующий селектор CSS становится done-true, который затем
    применяет зачеркивание-->
        <span class="done-{{task.done}} important-{{task.important}}">{{task.text}}</span>
      </label>
      <div class="task-list-item-buttons-group">
        <!--<a href="#!/tasks/{{task.id}}">-->
        <button type="button" class="btn btn-info" ng-click="$ctrl.goToTaskDetailView(task)">
          <i class="fas fa-info"></i>
        </button>
        <!--</a>-->
        <button type="button" class="btn btn-important" ng-click="$ctrl.importantTask(task)">
          <i class="fas fa-exclamation"></i>
        </button>
        <!-- ng-click - вызов метода контроллера по клику -->
        <button type="button" class="btn btn-delete" ng-click="$ctrl.deleteTask(task)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </li>
  </ul>
  <!-- директива ng-submit вызывает метод addTask() по нажатию Enter или по клику на кнопку (перехватывает отправку формы).
   Внутри этого метода мы читаем свойство taskText и вставляем его в коллекцию taskArray-->
  <form ng-submit="$ctrl.addTask()">
    <!-- ng-model двунаправленно связывает значение input в форме со свойством text в объекте задания массива taskList
в контроллере (связывает форму и модель)-->
    <label>
      <input type="text" ng-model="$ctrl.addTaskInputText" placeholder="add new todo">
    </label>
    <button class="btn btn-add">Add</button>
  </form>
</div>