<div class="container">
  <error-container
      ng-if="$ctrl.error"
      error="$ctrl.error">
  </error-container>
  <div class="task-detail"
       ng-if="$ctrl.task">
    <h1>Task details</h1>
    <dl>
      <dt>Id:</dt>
      <dd>{{$ctrl.task._id}}</dd>
      <dt>Text:</dt>
      <dd class="clear-bottom">
        <edit-text
            task="$ctrl.task"
            text="$ctrl.task.text">
        </edit-text>
      </dd>
      <dt>Done:</dt>
      <dd>{{$ctrl.task.done ? 'yes' : 'no'}}</dd>
      <dt>Important:</dt>
      <dd>{{$ctrl.task.important ? 'yes' : 'no'}}</dd>
      <dt>Date:</dt>
      <dd>{{$ctrl.task.date | date: 'dd.MM.yyyy (HH:mm)'}}</dd>
      <dt>Description:</dt>
      <dd class="clear-bottom">
        <edit-text
            task="$ctrl.task"
            text="$ctrl.task.description">
        </edit-text>
      </dd>
    </dl>
    <button class="btn btn-back" ng-click="$ctrl.navigate('todoList')">Back</button>
  </div>
</div>